extends layout

block content
  h1= title

  ul
  each val in response
    li= val.date + ' ' + val.duration + ' ' + val.weekday
      p= val.name + ' ' + val.address + ' -- '  + '(' + val.cost + ')'
      br
